In [4]:
# https://towardsdatascience.com/random-forest-in-python-24d0893d51c0


import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder #Used for converting labels to numbers(0 or 1)
dataset = pd.read_csv('N225_clean.csv')
dataset.head()
x = dataset.drop(labels=['Date','High','Low','Close', 'Adj Close','Direction','Unnamed: 0','Volume'], axis=1)
y = dataset['Direction']
x.head()

          Open  Range  Open Down
0  1257.719971    0.0      False
1  1263.989990    0.0       True
2  1274.270020    0.0       True
3  1286.430054    0.0       True
4  1288.540039    0.0       True

In [5]:
y.head()

0    Down
1    Down
2    Down
3    Down
4    Down
Name: Direction, dtype: object

In [6]:
open_label=LabelEncoder()
x['Open Down'] = open_label.fit_transform(x['Open Down'])

In [7]:
x.head()

          Open  Range  Open Down
0  1257.719971    0.0          0
1  1263.989990    0.0          1
2  1274.270020    0.0          1
3  1286.430054    0.0          1
4  1288.540039    0.0          1

In [8]:
result_label=LabelEncoder()
y=pd.Series(result_label.fit_transform(y))

In [9]:
from sklearn.preprocessing import StandardScaler
x_train , x_test ,y_train, y_test = train_test_split(x,y,test_size=0.2,random_state = 0,stratify = y)
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [12]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators = 20, random_state = 42)
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=20, random_state=42)

In [15]:
y_pred = model.predict(x_test)
y_pred

array([0.4 , 0.25, 0.6 , ..., 0.4 , 0.35, 0.  ])